@{
    ViewData["Title"] = "The Shelf";
}
@model BooksViewModel

<div class="blockquote">
    <h1>The Shelf</h1>
</div>

@foreach (Book b in Model.Books)
    {
    <partial name="BookInfo" model="b" />
    }
<div page-link-maker="@Model.PageInfo" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-light"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">

</div>
