@page
@model Books.Pages.OrderCompleteModel
@{
}

<div class="text-center">
    <h2>Order Complete! Thank you for choosing Books!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>

